.stimulus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  height: 100vh;
  justify-content: center;
  color: white;
}

.video {
  width: 80%;
  max-height: 80vh;
}

.results-button {
  margin-top: 25px;
  background-color: #363636;
  border-radius: 6px;
  padding: 10px;
  font-family: Inconsolata, monospace;
  color: white;
}

.results-button.disabled {
  background-color: rgb(12, 12, 12);
  color: rgb(57, 57, 57);
  cursor: not-allowed;
  text-decoration: none;
}

.start-experience-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6); /* Optional semi-transparent background */
  z-index: 20;
}

.start-experience-button {
  top: 43%;
  position: absolute;
  background-color: #363636;
  border-radius: 10px;
  padding: 30px 60px;
  font-family: Inconsolata, monospace;
  color: white;
  font-size: 20px;
  z-index: 10;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start-experience-button:hover {
  background-color: #2e2e2e;
}

.disabled {
  opacity: 0.5; /* Makes the button appear dimmer when disabled */
  cursor: not-allowed; /* Changes the cursor to indicate that the button is not clickable */
}
